@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
  margin: 0 auto;
  height: 100%;
  background-color: #F2F2F2;
  padding: 0 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  text-align: center;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  border: none;
  color: #fbf7f4;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 24x;
  line-height: 20px;
  font-weight: 700;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-logo {
  z-index: 1;
  margin-left: 70px;
  margin-right: 30px;
}


.navigation-link {
  padding: 20px 16px;
  display: block;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link.icon {
  width: 20px;
  height: 23px;
}

.navigation {
  min-height: 64px;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  padding-left: 0;
  padding-bottom: 13px;
  align-items: flex-start;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  max-width: 450px;
  min-height: 64px;
  flex-wrap: wrap;
}

.navigation-item {
  position: relative;
  max-width: 115px;
  font-size: 20px;
}

.about {
  width: 114px;
  font-size: 20px;
  margin-left: 9px;
}

.navigation-item.main {
  position: relative;
  font-size: 20px;
}

.navigation-item.main::after {
  width: 70px;
  content: "";
  position: absolute;
  height: 2px;
  left: 15px;
  background-color: #756157;
  bottom: -1px;
}

.navigation-item.inner {
  position: relative;
}

.navigation-item.inner::after {
  width: 90px;
  content: "";
  position: absolute;
  height: 2px;
  left: 17px;
  bottom: -1px;
  background-color: #756157;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.navigation-user {
  align-items: flex-start;
  margin: 0;
  padding-left: 280px;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  max-width: 325px;
  min-height: 64px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.navigation-icon.search {
  right: -18px;
  padding: 24px 13px;
}

.navigation-icon.favourites {
  padding: 24px 13px;
  right: -3px;
}

.want-here {
  margin-right: 42px;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 14px;
  margin-bottom: 23px;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 31px;
  max-width: 110px;
  min-height: 20px;
  background-color: #756157;
}

.want-here:hover,
.want-here:focus {
  background-color: #615048;
}

.want-here:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.want-here:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.green-circle {
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  right: 239px;
  top: 10px;
}

.number {
  font-size: 10px;
  position: absolute;
  right: 4px;
  bottom: -2px;
  color: #ffffff;
}

.intro {
  margin-top: -12px;
  position: relative;
  background-image: url(../images/index-background.jpg);
  color: #000000;
  height: 484px;
  background-color: rgba(131, 179, 211, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.intro-tittle {
  margin-top: 71px;
  color: #000000;
  min-height: 190px;
}

.welcome {
  padding-top: 50px;
  padding-bottom: 65px;
  padding-left: 350px;
  padding-right: 350px;
}

.intro::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1200px;
  min-height: 57px;
  background-image: url(../images/page-devider.svg);
  left: 0;
}

.welcome-tittle {
  padding-left: 290px;
  padding-right: 290px;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  line-height: 36px;
}

.welcome-text {
  text-wrap: nowrap;
  color: #000000;
  margin: 0;
  padding-left: 275px;
  padding-right: 275px;
  margin-top: 25px;
  font-size: 22px;
}

.advantages p {
  color: #000000;
  line-height: 21px;
  font-size: 18px;
  margin: 0;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 85px;
  padding-top: 60px;
}

.advantages-container {
  color: #000000;
  display: flex;
  width: 1200px;
  margin-bottom: -34px;
  position: relative;
}

.advantages-container p {
  color: #000000;
}

.advantages-container h3 {
  padding-top: 71px;
}

.advantages-item::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 198px;
  left: 170px;
}

.advantages-item {
  position: relative;
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  width: 400px;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height: 400px;
  justify-content: center;
}

.advantages-item.center {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.center::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 198px;
  left: 170px;
}

.advantages-box {
  margin-top: 20px;
  min-height: 385px;
  display: flex;

}

.advantages-box p {
  color: #ffffff;
}

.advantages-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-tittle {
  margin: 0;
  padding-top: 85px;
  padding-right: 115px;
  padding-left: 112px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}



.index-columns {
  width: 400px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: #fbf7f4;
  background-color: #82B3D3;
  position: relative;
}

.index-columns::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 188px;
  left: 170px;
}

.orders-title-container {
  color: #000000;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orders-title {
  text-transform: uppercase;
  text-wrap: wrap;
  width: 505px;
  margin-left: 350px;
  font-size: 30px;
  line-height: 36px;
  margin-top: 66px;
  margin-bottom: 0;
}

.orders-title-container p {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 64px;
  font-weight: 400;
}

.privelege {
  position: relative;
  color: #000000;
  display: flex;

}

.privelege-list {
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  min-height: 400px;
  display: flex;
  list-style-type: none;
}

.privelege-orders {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.privelege-orders.center {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.privelege-list p {
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 85px;
  padding-right: 85px;
  margin-top: 28px;
}

.home-image {
  top: 8px;
  background-image: url(../images/home.svg);
  width: 75px;
  min-height: 72px;
  position: absolute;
  background-position: center;
  padding-left: 162px;
  padding-right: 162px;
  margin-top: 70px;
  background-repeat: no-repeat;
}

.food-image {
  top: 9px;
  background-image: url(../images/food.svg);
  width: 74px;
  min-height: 70px;
  position: absolute;
  background-position: center;
  padding-left: 162px;
  padding-right: 162px;
  margin-top: 70px;
  background-repeat: no-repeat;
}

.present-image {
  right: 5px;
  top: 6px;
  background-image: url(../images/present.svg);
  width: 64px;
  min-height: 76px;
  position: absolute;
  background-position: center;
  padding-left: 162px;
  padding-right: 162px;
  margin-top: 70px;
  background-repeat: no-repeat;
}

.orders-tittle {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.orders-tittle p {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.privelege-item {
  margin: 26px;
  padding-top: 156px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.privelege-item p {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.search-hotel-container {
  min-height: 388px;
  width: 590px;
  margin: 0 auto;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.search-hotel-container h2 {
  margin: 0;
  padding-bottom: 16px;
  padding-top: 82px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #000000
}

.search-hotel-container p {
  margin: 0;
  text-wrap: wrap;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}


.search-hotel-tittle {
  font-size: 30px;
  line-height: 36px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.search-hotel-text {
  color: #000000;
}

.search-hotel-tittle p {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}


.subscribe {
  margin-bottom: 4px;
  min-height: 414px;
  background-image: url(../images/subscribe-background.jpg);
  background-color: #3f3f3f;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-email[placeholder] {
  min-height: 52px;
  padding-left: 20px;
  width: 432px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.field-email:focus {
  outline: 2px solid #68a2ca;
}

.field-email:hover {
  background-color: #e6e6e6;
}

.field-email:active {
  outline: 2px solid #3f5e72;
}

.field-email:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.field-email:not(.field-email:placeholder-shown) {
  outline: 2px solid #000000;
  background-color: #e6e6e6;
}


.following-tittle {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

}

.following {
  min-height: 270px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.following p {
  margin: 0;
  padding-top: 10px;
  width: 470px;
  font-size: 22px;
  line-height: 26px;
  padding-left: 365px;
}


.following-form {
  margin-top: 1px;
  display: flex;
  justify-content: center;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-social-item svg {
  width: 24px;
  padding: 13px 12px;
}


.footer-social-item path:hover {
  fill: #68A2CA;
}


.footer-social-item path:focus {
  fill: #68A2CA;
}


.footer-social-item path:active {
  fill: rgba(104, 162, 202, 0.3);
}

.academy-logo:hover {
  stroke: #756157
}

.academy-logo:focus {
  stroke: #756157
}

.academy-logo:active {
  stroke: rgba(117, 97, 87, 0.3);
}

.footer-social {
  margin-top: -8px;
  min-height: 137px;
  justify-content: space-between;
  width: 1200px;
  display: flex;
  color: #000000;
}

.footer-social-list {
  flex-wrap: wrap;
  padding-left: 70px;
  padding-top: 32px;
  padding-bottom: 35px;
  list-style-type: none;
  display: flex;
  max-width: 150px;
}


.footer-contacts {
  padding-left: -5px;
  padding-top: 53px;
  padding-bottom: 35px;
  width: 360px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  font-weight: 400;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3)
}

.search-hotel-button {
  margin-top: 54px;
}

.search-hotel-button a {
  display: flex;
  max-width: 376px;
  min-height: 52px;
  align-items: center;
  justify-content: center;
  margin-left: 106px;
  font-size: 19px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #756157;
}

.search-hotel-button a:hover,
.search-hotel-button a:focus {
  background-color: #615048;
}

.search-hotel-button a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.search-hotel-button a:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}


.footer-contacts-phone {
  color: #000000;
  text-decoration: none;
}

.subscribe-button {
  margin-top: 53px;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.subscribe-button p {
  display: contents;
  height: 50px;
  width: 450px;
}

.following-button {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 10px 50px;
  min-height: 50px;
  width: 230px;
  background-color: #82B3D3;
}

.following-button:hover,
.following-button:focus {
  background-color: #68a2ca;
}

.following-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.following-button:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: #ffffff;
}

.subscribe-button input {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #F2F2F2;
  border: none;
  padding: 0;
  width: 450px;
  min-height: 50px
}

.html-academy-link {
  margin-bottom: auto;
}

.footer-link {
  padding-bottom: 30px;
  padding-right: 70px;
  width: 115px;
  height: 30px;
  padding-top: 50px;
}

.breadcrumbs-items {
  margin: 0;
  padding: 0;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  list-style-type: none;
}

.breadcrumbs-items svg {
  margin-right: 10px;
}

.breadcrumbs-link {
  color: inherit;
}

.breadcrumbs {
  padding-top: 6px;
}

.header-container {
  margin-top: -12px;
  background-image: url(../images/background-catalog.jpeg);
  background-color: #3f3f3f;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  padding: 35px 70px 54px 70px;
}

.breadcrumbs-home {
  background-image: url(..//images/home-breadcrumbs.svg);
  position: absolute;
  color: #ffffff;
}

.hotel-filters {
  max-width: 160px;
  margin-right: 62px;
  margin-left: -3px;
}

.hotels-filters-group {
  max-width: 300px;
  position: relative;
  display: flex;
  border: none;
  list-style-type: none;
  padding-right: 70px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
}

.control {
  margin-left: 30px;
  display: block;
}

.control:has(:disabled) {
  pointer-events: none;
}

.control:hover,
.control-mark:hover {
  opacity: 0.6;
}

.control:active,
.control-mark:active {
  opacity: 0.3;
}

.control:focus-within .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input:disabled ~ .control-mark,
.control-input:disabled ~ .control-item {
  pointer-events: none;
  opacity: 0.3;
}


.control-mark {
  content: "";
  left: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}


.control-input[type="checkbox"]:checked + .control-mark::before {
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  background-image: url(../images/done.svg);
}

.control-input[type="checkbox"]:focus + .control-mark::before {
  outline: 2px solid #83B3D3;
}

.control-input[type="checkbox"]:checked:focus + .control-mark::before {
  outline: 2px solid #83B3D3;
}


.control-radio {
  margin-left: 30px;
}

.control-mark-radio {
  left: 2px;
  position: absolute;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  content: "";
  background-color: #3F5E72;
  right: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.control-input[type="radio"]:focus + .control-mark-radio {
  outline: 2px solid #83B3D3;
}

.control-input[type="checkbox"]:checked:focus + .control-mark-radio {
  outline: 2px solid #83B3D3;
}

.control-input:disabled ~ .control-mark,
.control-input:disabled ~ .control-item {
  pointer-events: none;
  opacity: 0.3;
}

.hotels-filters-group legend {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-group-title {
  margin-bottom: 32px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.hotels-filters-list {
  margin-top: 2px;
  margin-left: 8px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hotels-filter-title {
  margin-bottom: 32px;
}

.catalog-filter-group {
  padding: 0;
  margin-left: 147px;
  margin-right: 70px;
  border: none;
  position: relative;
}


.range {
  margin-top: -2px;
  position: relative;
}


.range-wrapper-inputs {
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 290px;
  display: flex;
}

.range-text {
  opacity: 30%;
  color: #000000;
  content: "от";
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  position: absolute;
  top: 14px;
  left: 107px;
}

.range-text.to {
  left: 252px;
}


.range-box {
  height: 4px;
  position: absolute;
  top: 93px;
  width: 287px;
}

.range-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  margin-right: 1px;
  font-weight: 700;
  padding-left: 21px;
  border: none;
  width: 122px;
  height: 48px;
}

.range-input {
  -moz-appearance: textfield;
}

.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input::placeholder {
  color: #000000;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus-within {
  outline: 3px solid #83b3d3;
}

.range-input:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}


.range-input.left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.range-input.right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 226px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 61px;
  right: 0;
  bottom: 0;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-min {
  border: none;
  top: -8px;
  left: 0;
}

.toggle-max {
  border: none;
  top: -8px;
  right: 0;
}

.filters {
  max-width: 1100px;
  flex-wrap: wrap;
  padding-top: 39px;
  display: flex;
}

.use {
  margin-bottom: -5px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 55px;
  display: flex;
  max-width: 190px;
  height: fit-content;
}

.button-use {
  height: fit-content;
  padding: 8px 50px;
  border-radius: 4px;
  max-width: 191px;
  border: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  cursor: pointer;
}

.button-use:hover,
.button-use:focus {
  background-color: #68a2ca;
}

.button-use:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-use:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: #ffffff;
}

.cancel-all {
  margin-top: 34px;
  height: fit-content;
  margin-bottom: 20px;
  padding: 8px 58px;
  border: none;
  max-width: 191px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.cancel-all:hover {
  color: rgba(255, 255, 255, 0.6);
}

.cancel-all:focus {
  outline: 3px solid #83b3d3;
}

.cancel-all:active {
  color: rgba(255, 255, 255, 0.3);
}

.cancel-all:disabled {
  pointer-events: none;
  color: #ffffff;
  opacity: 0.1;
}

.search-hotel-count {
  margin-top: 10px;
  max-width: 340px;
  margin-left: 70px;
  color: #000000;
  text-transform: uppercase;
}

.select-tittle {
  display: flex;
}

.select-item {
  margin-top: 51px;
  font-size: 30px;
  font-weight: 700;
  max-width: 1200px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
}

.select-control {
  background-color: #ffffff;
  background-image: url(../images/arrow-select.svg);
  appearance: none;
  margin-top: -5px;
  background-repeat: no-repeat;
  background-position: right 14px center;
  display: flex;
  align-items: center;
  width: 292px;
  padding: 12px 20px;
  margin-left: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 70px;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
}

.select-control:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}


.button-light {
  width: 50px;
  margin-right: 6px;
  color: #242424;
  background-color: #ffffff;
}

.sorting {
  margin-top: -5px;
  margin-right: 65px;
  display: flex;
  width: 165px;
  height: 50px;
}


.view-cards {
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.view-list {
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.view-one-card {
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.view-cards rect:hover {
  stroke: #000000;
}

.view-list rect:hover {
  stroke: #000000;
}

.view-one-card rect:hover {
  stroke: #000000;
}

.view-cards rect:focus {
  stroke: #68A2CA;
}

.view-list rect:focus {
  stroke: #68A2CA;
}

.view-one-card rect:focus {
  stroke: #68A2CA;
}

.view-cards rect:active {
  stroke: #000000;
}

.view-list rect:active {
  stroke: #000000;
}

.view-one-card rect:active {
  stroke: #000000;

}

.hotels-item {
  border: 1px #E6E6E6 solid;
  padding: 20px;
  background-color: #ffffff;
  min-height: 400px;
}

.hotels-item.last {
  padding: 18px;
}

.hotels-item.last h3 {
  margin-top: 12px;
}

.hotels-list {
  margin-left: 70px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style-type: none;
  width: 1200px;
  padding: 0;
  margin: 0;
}

.hotels-list img {
  object-fit: contain;
}

.hotels-container {
  margin-left: 70px;
  width: 1050px;
  justify-content: flex-start;
  list-style-type: none;
  margin-top: 36px;
}

.hotels-card-link {
  font-size: 20px;
  font-weight: 700;
  color: #242424;
  text-decoration: none;
}

.hotels-card-discription {
  margin-top: -8px;
  width: 300px;
  color: #000000;
  flex-wrap: wrap;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel {
  color: #000000;
}

.hotels-card-price {
  color: #000000;
  max-width: 100px;
  text-align: end;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-card-title {
  margin-left: 2px;
  margin-top: 14px;
  text-align: start;
  font-weight: 700;
  color: #242424;
  text-decoration: none;
}

.hotel {
  width: 140px;
  text-align: start;
}

.stars-four {
  background-image: url(../images/four-stars.svg);
  width: 140px;
  height: 40px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 160px;
}

.stars-three {
  background-image: url(../images/three-stars.svg);
  width: 140px;
  height: 40px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 160px;
}

.stars-two {
  background-image: url(../images/two-stars.svg);
  width: 140px;
  height: 40px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 160px;
}

.stars-rating {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 340px;
  padding-top: 15px;
}

.rating {
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  width: 96px;
  background-color: #F2F2F2;
  padding: 8px 22px;
  text-align: right;
}

.pagination-container {
  position: relative;
  max-width: 400px;
  padding-left: 71px;
  display: flex;
  padding-top: 78px;
  padding-bottom: 60px;
}

.pagination-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 1200px;
  height: 1px;
  top: 40px;
  background-color: #e6e6e6;
}

.pagination {
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  background-color: #ffffff;
  margin: 0 auto;
  width: 400px;
}


.pagination-link {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  min-width: 60px;
  min-height: 60px;
  background-color: #82B3D3;
}

.pagination-link.first {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-item {
  border-radius: 5px;
  display: flex;
}

.pagination-link:hover {
  background-color: #68A2CA;
  outline: 1px, #82B3D3, solid;
}

.pagination-link:focus {
  background-color: #68A2CA;
  outline: 1px, #82B3D3, solid;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}


.pagination-link.ellipsis {
  background-color: #ffffff;
  color: #000000;
}

.pagination-link.first {
  background-color: #F2F2F2;
}

.pagination-link.ellipsis {
  background-color: #ffffff;
  color: #000000;
}

.inner-following {
  background-color: #ffffff;
}

.inner-following h2 {
  margin-bottom: -3px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  margin-top: 98px;
  font-size: 30px;
  color: #000000;
}

.inner-following p {
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

.following-form.inner {
  margin-top: 31px;
  margin-bottom: 75px;
}

.subscribe-button.next {
  margin-bottom: 31px;
  margin-top: 10px;
}

.hotels-card-button-prefer.in-favourites {
  background-color: #7DB54F;
}

.hotels-card-button-prefer.in-favourites:hover {
  background-color: #6C9E42;
}

.hotels-card-button-prefer.in-favourites:focus {
  background-color: #6C9E42;
}

.hotels-card-button-prefer.in-favourites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.hotels-card-button-prefer {
  height: fit-content;
  border-radius: 5px;
  width: 14px;
  margin-top: 16px;
  background-color: #82B3D3;
  padding: 8px 20px
}

.hotels-card-button-prefer:hover,
.hotels-card-button-prefer:focus {
  background-color: #68a2ca;
}

.hotels-card-button-prefer:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.hotels-card-button-prefer:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.hotels-card-button {
  height: fit-content;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 16px;
  max-width: 88px;
  padding: 8px 26px;
  background-color: #756157;
  text-decoration: none;
  color: #ffffff;
}

.hotels-card-button:hover,
.hotels-card-button:focus {
  background-color: #615048;
}

.hotels-card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.hotels-card-button:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}


.inner-subscribe {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.inner-subscribe p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  border-radius: 30px;
  height: 445px;
  width: 578px;
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: rgba(255, 255, 255, 1)
}

.modal-close-button {
  position: absolute;
  top: 73px;
  right: 55px;
  width: 52px;
  height: 52px;
  padding: 0;
  border: 0 solid #f2f2f2;
  border-radius: 50%;
  background-image: url(../images/modal-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #82b3d3;
}

.modal-close-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin-bottom: 65px;
  text-wrap: nowrap;
  margin-top: 0;
  margin-right: 235px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
}

.modal-content {
  position: relative;
}

.adult {
  margin-left: -15px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
}

.child {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
}

.title-field {
  position: relative;
  height: 50px;
  align-items: center;
  display: flex;
}

.arived-date {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
}

.auth-form-field.arived {
  font-family: 'PT Sans' sans-serif;
  position: relative;
  font-size: 17px;
  padding-left: 17px;
  font-weight: 700;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  height: 48px;
  width: 419px;
  margin-left: 20px;
  border-radius: 5px;
}

.title-field::after {
  content: url(../images/icon-calendar.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  right: 25px;
  top: 12px;
}

.auth-form-field.depature {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  padding-left: 18px;
  font-weight: 700;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  height: 48px;
  width: 419px;
  margin-left: 13px;
  border-radius: 5px;
}

.age-form {
  display: flex;
  justify-content: space-between;
}

.age {
  display: flex;
}

.age-group-adult {
  display: flex;
}

.age-group-child {
  margin-top: 7px;
  margin-left: 85px;
}

.auth-form-field.adults {
  font-family: 'PT Sans', sans-serif;
  margin-left: 40px;
  margin-top: -8px;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  width: 110px;
  height: 50px;
}

.auth-form-field.childrens {
  font-family: 'PT Sans';
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 77px;
  border-radius: 5px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  width: 110px;
  min-height: 50px;
}

.auth-form-field:hover {
  background-color: #E6E6E6;
}

.auth-form-field:focus {
  background-color: #E6E6E6;
  outline: 2px solid #83B3D3;
}

.auth-form-field:focus {
  outline: 2px solid #000000;
}


.age-title {
  margin-right: 260px;
}

.button-write {
  padding-top: 18px;
  padding-left: 9px;
  font-size: 20px;
  display: flex;
  width: 577px;
  justify-content: center;
  min-height: 60px;
  border-radius: 10px;
  margin-top: 28px;
  text-transform: uppercase;
  background-color: #83B3D3;
}

.button-write:hover {
  background-color: #68A2CA;
}

.button-write:focus {
  background-color: #68A2CA;
}

.button-write:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-write:disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: #ffffff;
}

.age span {
  margin-right: 13px;
  height: 65px;
  font-size: 20px;
  position: relative;
  align-items: center;
  display: flex;
}

.bt-minus {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  left: 146px;
  top: 308px;
  position: absolute;
}

.bt-minus svg {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.bt-plus {
  left: 217px;
  top: 308px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
}

.bt-plus svg {
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

.bt-minus-child {
  right: 83px;
  top: 308px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
}

.bt-minus-child svg {
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

.bt-plus-child {
  right: 12px;
  top: 308px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
}

.bt-plus-child svg {
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

.clue-button {
  padding-top: 5px;
  top: 302px;
  right: 159px;
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  background-color: #83B3D3;
  color: #ffffff;
}

.clue-text {
  text-align: left;
  display: flex;
  position: absolute;
  top: 341px;
  right: 44px;
  width: 217px;
  height: 114px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  transition: opacity 0.3s ease;
  color: #ffffff;
  background-color: #333333;
}

.clue-text::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  width: 19px;
  height: 9px;
  background: url(../images/info-arrow.svg);
  transform: translate(-50%, -100%);
}

.notification-red {
  width: 320px;
  margin-left: 135px;
  margin-top: 2px;
  margin-bottom: 25px;
  color: #FF5757;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.notification {
  width: 333px;
  margin-left: 155px;
  margin-top: 2px;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.modal-container {
  display: none;
}
