@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  text-align: center;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  border: none;
  color: #fbf7f4;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 24x;
  line-height: 20px;
  font-weight: 700;
  background-color: #756157;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  color: #ffffff;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  width: 1200px;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-logo {
  margin-left: 70px;
}

.navigation-link {
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  flex-wrap: wrap;
  padding: 20px 16px;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  min-width: 310px;
  height: 24px;
  margin-left: 30px;
}

.navigation-user {
  margin-bottom: 14px;
  margin-top: 14px;
  margin-right: 70px;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  width: 220px;
  height: 14px;
  margin-left: auto;
}

.want-here {
  display: flex;
  padding: 8px 34px;
  width: 160px;
  height: 36px;
  justify-content: center;
  background-color: #756157;
  flex-direction: column;
}

.intro {
  background-image: url(../images/index-background.jpg);
  color: #000000;
  height: 465px;
  background-color: rgba(131, 179, 211, 0.2);
  background-size: 1200px 465px;
  background-repeat: no-repeat;
  text-align: center;
}

.intro-tittle {
  color: #000000;
  padding: 70px 290px;
  height: 160px;
}

.welcome {
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 350px;
  padding-right: 350px;
}

.advantages p {
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 100px;
  padding-top: 60px;
}

.advantages-container {
  color: #000000;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  width: 400px;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 400px;
  justify-content: center;
}

.advantages-item.center {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-box {
  height: 385px;
  display: flex;

}

.advantages-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-tittle {
  padding-top: 112px;
  padding-right: 112px;
  padding-left: 112px;
  font-family: "PT SANS", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.index-columns {
  width: 400px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: #fbf7f4;
  background-color: #82B3D3;
  background-size: 400px 385px;
  background-repeat: no-repeat;
}

.orders-title-container {
  color: #000000;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.privelege {
  color: #000000;
  display: flex;

}

.privelege-list {
  padding-left: 0;
  height: 400px;
  display: flex;
  list-style-type: none;
}

.privelege-orders {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.privelege-orders.center {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.privelege-list p {
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 80px;
}

.orders-tittle {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.orders-tittle p {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.privelege-item {
  padding-top: 180px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.privelege-item p {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.search-hotel-container {
  color: #000000;
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
}

.search-hotel-container h2 {
  color: #000000
}


.search-hotel-tittle {
  font-size: 30px;
  line-height: 36px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.search-hotel-tittle p {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.subscribe {
  background-image: url(../images/subscribe-background.jpg);
  background-size: 1200px 414.86px;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.following-tittle {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

}

.following {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.following-form {
  display: flex;
  justify-content: center;
}

.footer-social {
  justify-content: space-between;
  width: 1200px;
  display: flex;
  color: #000000;
  margin: 0 auto;
}

.footer-social-list {
  padding-top: 45px;
  padding-bottom: 35px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 40px;
}

.footer-contacts {
  padding-top: 45px;
  padding-bottom: 35px;
  width: 360px;
  height: 43px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  font-weight: 400;
}

.search-hotel-button a {
  padding: 8px 50px;
}

.footer-contacts-phone {
  color: #000000;
  text-decoration: none;
}

.subscribe-button {
  border: none;
  padding-bottom: 100px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.subscribe-button p {
  display: contents;
  height: 50px;
  width: 450px;
}

.subscribe-button button {
  border: none;
  padding: 10px 50px;
  height: 50px;
  width: 230px;
  background-color: #82B3D3;
}

.subscribe-button input {
  background-color: #F2F2F2;
  border: none;
  padding: 0;
  width: 450px;
  height: 50px
}

.html-academy-link {
  margin-bottom: auto;
}

.footer-link {
  padding-bottom: 30px;
  padding-right: 70px;
  width: 115px;
  height: 30px;
  padding-top: 50px;
}

.breadcrumbs-items {
  padding: 0;
  height: 20px;
  display: flex;
  justify-content: space-between;
  width: 115px;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
}

.breadcrumbs {
  padding-top: 10px;
}

.header-container {
  height: 410px;
  background-image: url(../images/catalog-background.png);
  background-color: #ffffff;
  background-size: 1200px 412px;
  background-repeat: no-repeat;
  text-align: left;
  padding: 35px 70px;
}

.hotels-filters-group {
  display: flex;
  border: none;
  list-style-type: none;
  padding-right: 70px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
}

.hotels-filters-group legend {
  text-align: center;
}

.hotels-filters-list {
  padding: 0;
  list-style-type: none;

}

.hotels-filters-title {
  padding-left: 40px;
  text-align: center;
}

.filters {
  padding-top: 40px;
  display: flex;
}

.use {
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  display: flex;
  padding-left: 400px;
  width: 190px;
  height: 100px;
}

.use button {
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 50px;
  height: 30px;
}

.cancel {
  background-color: inherit;
  color: #ffffff
}

.search-hotel-count {
  width: 340px;
  color: #000000;
  padding-right: 200px;
  padding-left: 70px;
}

.select-tittle {
  display: flex;
}

.select-item {
  margin-left: 30px;
  margin-top: 60px;
  font-size: 30px;
  font-weight: 700;
  width: 1200px;
  height: 50px;
  display: flex;
}

.select-control {
  height: 50px;
  text-align: center;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 130px;
}

.button-light {
  color: #242424;
  background-color: #ffffff;
}

.sorting {
  display: flex;
  width: 160px;
  height: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

.hotels-item {
  background-color: #ffffff;
  width: 340px
}

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style-type: none;
  width: 1200px;
  padding: 0;
  margin: 0;
}

.hotels-container {
  display: flex;
  width: 1050px;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: flex-start;
  margin: 0 auto;
  list-style-type: none;
  margin-top: 40px;
}

.hotels-card-link {
  font-weight: 700;
  color: #242424;
  text-decoration: none;
}

.hotels-card-discription {
  color: #000000;
  padding-left: 20px;
  flex-wrap: wrap;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-card-price {
  width: 140px;
  text-align: end;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-card-title {
  text-align: start;
  padding-left: 20px;
  font-weight: 700;
  color: #242424;
  text-decoration: none;
}

.hotel {
  width: 140px;
  text-align: start;
}

.stars-four {
  background-image: url(../images/four-stars.svg);
}

.stars-rating {
  width: 340px;
  padding-top: 15px;
}

.rating {
  width: 96px;
  background-color: #F2F2F2;
  padding: 8px 22px;
  text-align: right;
}

.pagination-container {
  width: 400px;
  padding-left: 75px;
  display: flex;
  padding-top: 80px;
  padding-bottom: 60px;
}


.pagination {
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
}


.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link.first {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-item {
  padding-left: 10px;
  height: 36px;
  width: 12px;
  background-color: #82B3D3;
  padding: 12px 24px;
}

.pagination-item.ellipsis {
  background-color: #ffffff;
  color: #000000;
}

.pagination-item.first {
  background-color: #F2F2F2;
}

.pagination-link.ellipsis {
  background-color: #ffffff;
  color: #000000;
}

.inner-following {
  background-color: #ffffff;
}

.inner-following h2 {
  color: #000000;
}

.inner-following p {
  color: #000000;
}

.hotels-card-button-prefer {
  width: 140px;
  margin-top: 16px;
  background-color: #82B3D3;
  padding: 8px 20px
}

.hotels-card-button {
  margin-top: 16px;
  margin-right: 20px;
  width: 88px;
  padding: 8px 26px;
  background-color: #756157;
  text-decoration: none;
  color: #ffffff;
}

.inner-subscribe {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.inner-subscribe p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
